

body {
    background-image: linear-gradient(to bottom right, #763e9b, #670ba4, #763e9b, #670ba4, #763e9b);
    background-size: 500%;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: #b4b1bc 0px 5px 10px, #b4b1bc 0px -5px 10px ;
}
