.btn-group {
    display: flex;
    flex-direction: row;
}

.notes-in-key {
    display: flex;
    flex-direction: row;
}

.note-card {
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    background-color: rgba(245, 244, 220, 0.726);
}

.note-card p {
    text-align: center;  
}